.card{

border-radius:12px;

box-shadow:0 2px 10px rgba(0,0,0,.15);

}

#billArea{

background:white;

}

table th{

background:#198754;

color:white;

text-align:center;

}

table td{

text-align:center;

}

@media print{

.sidebar,
.navbar,
button{

display:none;

}

.main-content{

margin:0;

}

}