body{

background:#f5f7fa;

}

.main-content{

margin-left:240px;
padding:20px;

}

.card{

border-radius:15px;
border:none;
box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.card-header{

border-radius:15px 15px 0 0 !important;

}

.form-control,
.form-select{

height:45px;

}

.btn{

height:45px;

}

.table th{

background:#0d6efd;
color:white;
text-align:center;

}

.table td{

text-align:center;
vertical-align:middle;

}

/* Tablet */

@media(max-width:992px){

.main-content{

margin-left:70px;

}

}

/* Mobile */

@media(max-width:768px){

.main-content{

margin-left:0;
padding:15px;

}

.btn{

width:100%;
margin-bottom:10px;

}

.table-responsive{

overflow-x:auto;

}

.card{

margin-top:15px;

}

}